* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background:rgb(9, 100, 160);
}
#container {
    width:320px;        
    margin:50px auto;
}
 .card {
    position:relative;    
    width:300px;
    height:500px;
    margin:20px 10px;
    border:1px solid #0f0f0f33;
    background-color:#ffffff;      
} 
.words {
    position:absolute;    
    left:10px;  /* 텍스트 left 위치 */
    top:300px;  /* 텍스트 top 위치 */
    padding:10px;
    text-align:center;   
}