		@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
		@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

  	* {
    	margin:0;
      padding:0;
     }
		body {
			background: #fff;
			font-family: "Jeju Gothic", serif;
		}
		a {
			text-decoration: none;
		}
		nav a:link, a:visited {
			color: #fff;
		}
		nav a:active {
			color: yellow;
		}
	  h1 {
			font-size: 1.8em;
		}
		h2 {
			font-size: 1.3em;
		}
		p {
			font-size: 1.3em;
			line-height: 2.5;
		}
		li {
			font-size: 1em;
			line-height: 2;
		}

		/* 모바일 - 767px 이하 */
		#container {
			width: 100%;
			margin: 0 auto;
		}
		header {
			width: 100%;
			height: 300px;
			background: url(../images/header.jpg) center no-repeat;
			background-size: cover;
			margin: 0;
		}
		nav {
			height: 50px;
			background: #000;
		}
		#main-nav {
			list-style: none;
			margin: 0;
			padding: 10px;
			text-align:center;
		}
		#main-nav li {
			display: inline-block;		
			color: #fff;
			font-family: "맑은 고딕", 돋움;
			font-size: 0.9em;
			margin: 5px 15px;
		}		
		section {
			position: relative;
			width: 100%;
			padding: 15px 5% 10px 5%;
		}
		#container section:nth-child(odd) {
			background: #eee;
		}
		.page-title {
			position: absolute;
			top: 20px;
			left: 0;
			padding: 30px 50px;
		}
		.page-title h1 {
				margin-bottom: 30px;
			}		
    .content {
    	margin: 80px auto 10px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 90%;
      padding: 20px;
    }		
		.content ol {
			margin-top: 20px;
		}
		.sub-titles {
			color: #0094ff;
			font-weight: 600;
		}		
		.photo {
			display: none;
		}
		footer {
			position: relative;
			width: 100%;
			height: 100px;
			background: #000;
		}		
		footer p {
			font-family: 'Oleo Script', cursive;
			font-size: 1.5em;
			line-height: 100px;
			color: white;
			text-align: center;
		}

    /* 태블릿 - 768px 이상 */
		@media screen and (min-width:760px) {
      header {
				height: 400px;
			}
      #intro, #map {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        height: 400px;
        float: left;
        margin: 0;
        border: 1px dotted #ccc;
      }
      #choice {
				clear: left;
			}
    }

    /* PC - 992px 이상 */
		@media screen and (min-width:992px) {
      #container {
				width: 995px;
				margin: 0 auto;
				border: 1px solid #ccc;
			}
			header {
				height: 500px;
			}
      #intro, #map, #choice {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        position: relative;
        width: 100%;
        height: 420px;
        padding: 15px 2% 10px 5%;
      }
      .content {
				margin: 80px auto 10px;
				width: 90%;
				padding: 20px;
			}
      .photo {
				width: 42%;
				display: block;
			}
      .photo > img {
				width: 100%;
				max-width: 320px;
				height: auto;
				margin-bottom: 30px;
			}
      .text {
				width: 42%;
			}
      #intro .photo, #map .photo {
				float: left;
				margin-right: 5%;
			}
			#intro .text, #map .text {
				float: left;
			}
			#choice .photo {
				float: right;
				margin-right: 5%;
			}
			#choice .text {
				float: left;
			}
			footer {
				clear: both;
			}
    }